body {
    background-color: #ECECEC;
    margin: 0;
}

.hidden {
    display: none!important;
}

section.header {
    background: black;
    /* height: 330px; */
    display: block;
    border-bottom: 1px solid #E8E8E8;
    box-shadow: 0 3px 0 0px rgb(0 0 0 / 3%);
}

.top-menus {
    padding-top: 25px;
}

.header.scrolled .top-menus {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    background: black;
    padding-top: 10px;
    padding-bottom: 15px;
}

.brand {
    text-align: center;
    padding: 31px 0;
    position: relative;
}

.header.scrolled .brand {
    padding-top: 92px;
}

.menu {
    border-top: 1px solid rgba(255, 255, 255, .3);
    display: flex;
    justify-content: center;
}

a.menu-item {
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none!important;
    text-transform: uppercase;
}

a.top-menu-item {
    color: #FFF;
    font-size: 24px;
    padding: 10px;
    text-decoration: none!important;
}

a.top-menu-item.link-social {
    background: #191a1b;
    color: #ccc;
    height: 38px;
    width: 38px;
    position: absolute;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    padding-top: 4px;
    right: 15px;
}

a.top-menu-item.link-social:nth-child(1) {
    right: 193px;
}

a.top-menu-item.link-social:nth-child(2) {
    right: 148px;
}

a.top-menu-item.link-social:nth-child(3) {
    right: 103px;
}

a.top-menu-item.link-social:nth-child(4) {
    right: 58px;
}

a.top-menu-item.link-social:last-child {
    right: 13px;
}

.main-content {
    padding: 40px 0;
}

.title-content {
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 25px;
}

.post.card {
    background-color: transparent!important;
    border: none!important;
    border-radius: 0!important
}

.post {
    padding: 0 15px!important;
    margin: 0 0 30px!important;
    /* width: 50%; */
    -webkit-transition: opacity 0.75s ease-in;
    -moz-transition: opacity 0.75s ease-in;
    transition: opacity 0.75s ease-in;
}

.link-capa {
    text-decoration: none!important;
}

.card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    orphans: 1;
    widows: 1;
}

.post img.capa {
    margin: 0;
    text-align: center;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.post .post-body {
    background-color: #FFF;
    padding: 40px;
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 10%);
}

.post-body .post-meta {
    font-size: 12px;
    font-weight: normal;
}

.post-body .post-meta.details {
    font-size: 14px;
    font-weight: normal;
}

.post-meta .date {
    float: left;
    color: #AAA;
}

.post-meta .share {
    position: relative;
    float: right;
}

.post-meta .share .dropdown {
    font-size: 16px;
    line-height: 1;
    color: #CCC;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.post-meta .share.details .dropdown {
    font-size: 18px;
}

.post-meta .share .dropdown-toggle::after { 
    content: none;
}

.post .post-content {
    margin-top: 20px;
}

.post .post-content a {
    text-decoration: none!important;
}

.post .post-content h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none!important;
    color: #212529!important;
}

.post .post-content p {
    margin: 0 0 20px;
    color: #6C6C6C;
}

.post .post-content.details p {
    line-height: 1.75;
}

.post .post-footer {
    color: #CCC;
    font-size: 14px;
    margin-top: 30px;
}

.post .post-footer.details {
    font-size: 18px;
}

.post .post-footer.details span.icon-like a {
    text-decoration: none!important;
    color: #000;
}

.post .post-footer.details span.icon-like a.disabled {
    cursor: default!important;
}

.post .post-footer.details span.icon-like.liked a i {
    color: #e74c3c;
}

.post .post-footer.details span.icon-comment, 
.post .post-footer.details span.icon-views {
    color: #000;
}

.btn-ver-mais {
    background: #DAA520;
    color: #FFF!important;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 0;
}

.card-sobre {
    background-color: #FFF;
    padding: 40px!important;
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 10%);
    width: 90%;
    float: right;
}

.card-sobre .img-sobre {
    background-image: url(../img/jp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 200px;
    height: 200px;
    border: 5px solid #ececec;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card-sobre .title-sobre {
    margin-bottom: 20px;
    font-size: 20px;
}

.card-sobre .name-sobre {
    margin-bottom: 10px;
    font-size: 15px;
    display: block;
    color: #ecb426;
    font-weight: 600;
}

.card-sobre .text-sobre {
    margin-bottom: 20px;
    color: #6C6C6C;
}

.card-categoria {
    background-color: #FFF;
    padding: 40px!important;
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 10%);
    width: 90%;
    float: right;
}

.card-categoria .title-categoria {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 20px;
    margin-top: -15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

.card-categoria .list-categoria ul {
    list-style: none!important;
    padding: 0!important;
}

.card-categoria .list-categoria .item-categoria {
    display: block;
    padding: 6px 25px;
    border-bottom: 1px dashed #e2e2e2;
    color: #000;
    font-weight: 500;
    text-decoration: none!important;
}

.card-categoria .list-categoria ul li:last-child .item-categoria {
    border: none!important;
}

.card-categoria .list-categoria span.before {
    position: absolute;
    margin-left: -23px;
    color: #ababab;
}

.card-tags {
    background-color: #FFF;
    padding: 40px!important;
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 10%);
    width: 90%;
    float: right;
}

.card-tags .title-tags {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 20px;
    margin-top: -15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

.list-tags a, .list-tags-detalhes a {
    border: 1px solid #cfcfcf;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 1px 5px 0;
    border-radius: 2px;
    text-decoration: none!important;
    color: #212529;
}

footer {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px!important;
}

h1.title-footer {
    color: #FFF;
    font-size: 20px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

p.text-footer {
    color: #f5f5f5;
}

.form-footer {
    background: #171717!important;
    border: none!important;
    border-radius: 0px!important;
    color: #fff!important;
    height: 55px;
}

a.btn.btn-footer {
    position: absolute;
    right: 25px;
    margin-top: -47px;
    color: #777777;
    text-decoration: none!important;
}

.copy {
    padding: 20px;
    text-align: center;
    background: #DAA520;
    color: #FFF;
    font-size: 14px;
}

.card-popular {
    width: 280px;
    margin-right: 20px;
    border: none!important;
    border-radius: 0!important;
}

.card-popular img {
    width: 100%;
}

.link-card-popular {
    text-decoration: none!important;
}

.img-card-popupar {
    width: 100%;
    height: 185px;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-popular .card-popular-body {
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 10%);
}

.card-popular .card-popular-body h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #212529!important;
}

.card-popular .card-popular-body p {
    color: #6C6C6C!important;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-popular .card-popular-body label {
    color: #AAA!important;
    font-size: 12px;
    margin-bottom: 0;
}

button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev {
    top: -25px;
    right: 30px;
}

.slick-next {
    top: -25px;
    right: 0;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:before {
    content: '\f053';
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #000;
}

.slick-next:before {
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #000;
}

.slick-disabled {
    cursor: default!important;
    opacity: 0.4!important;
}

.title-comentarios {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 20px;
    margin-top: -15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

.list-comentarios {
    display: block!important;
    height: auto;
    max-height: 500px!important;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.list-comentarios::-webkit-scrollbar {
    width: 5px;
}
   
.list-comentarios::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 50px;
}

.card-comentario {
    margin-bottom: 20px;
}

.card-comentario .user-image {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: #f3f3f3;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-comentario a.btn-remover-comentario {
    float: right;
    color: #e74c3c;
}

.card-comentario .comentario-content {
    background: #f3f3f3;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
}

.card-comentario p.comentario-nome-usuario {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 15px;
    display: inline;
    margin-right: 20px;
}

.card-comentario p.comentario-texto {
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.card-comentario span.comentario-data-hora {
    float: right;
    margin-top: -15px;
    font-size: 11px;
    color: #9a9a9a;
    font-weight: 500;
}

.card-comentario-block.mb-0 {
    text-align: center;
    padding-top: 15px;
}

a.link.link-green {
    color: #DAA520!important;
    font-weight: 600;
}

.new-comentario {
    border-top: 1px solid #ececec;
    padding-top: 30px;
}

.new-comentario .btn-comentar {
    float: right;
    margin-top: 15px;
    background: #DAA520;
    color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
}

.container-texto-comentario {
    padding-left: 0px;
}


.menu-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 999999;
    background-color: #222;
    padding: 40px 20px;
    width: 295px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 40%);
    overflow-x: hidden;
    color: #666;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}


.mask-left {
    background-color: rgb(0 0 0 / 25%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

body.slide .mask-left {
    opacity: 1;
    visibility: visible;
    /* z-index: 99; */
    cursor: pointer;
}

body.slide .menu-left {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}

.menu-left .close {
    color: #AAA;
    text-shadow: none;
    font-size: 20px;
    font-weight: 100;
}

.menu-left .title {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: -6px;
    font-weight: 700;
    color: #AAA;
}

a.menu-item-left {
    display: block;
    padding: 10px 0px;
    color: #FFF;
    text-decoration: none!important;
    opacity: 0.7;
    text-transform: uppercase;
}

a.menu-item-left:hover {
    opacity: 1;
}

.pesquisa {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}

.pesquisa-close {
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 9999;
}

.pesquisa-content {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa-form {
    width: 800px;
}

.pesquisa input.form-control.form-control-lg {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0px;
}

.pesquisa input.form-control.form-control-lg:focus {
    box-shadow: none!important;
}

a.btn-search {
    padding: 10px 10px;
    margin-top: -3px;
    margin-left: -8px;
    position: absolute;
    font-size: 22px;
    color: #545454;
}


a.link-password {
    float: right;
    color: #DAA520;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}

a.btn.btn-block.btn-light {
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 0;
}

.containerUsuario #lblUsuarioLogado {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 8px;
}

.containerUsuario .btn-sair {
    background: white;
    display: block;
    color: red;
    font-weight: 600;
}

.containerUsuario .btn-alterar {
    background: none;
    display: block;
    color: #ecb426;
    font-weight: 600;
}

.containerUsuario .avatar-img.rounded-circle {
    height: 40px;
    width: 40px;
    background-color: #3a3a3a;
    background-repeat: no-repeat;
    background-position: center center;
}

div#modalLogin, div#modalCadastro, #modalAlterarSenha, #modalRecuperarSenha {
    z-index: 999999;
}

#modalRecuperarSenha {
    background: rgb(0 0 0 / 80%);
}

.container-posts, .populars {
    padding-right: 0px;
}


@media (max-width: 767px) {

    .brand img {
        width: 250px;
    }

    .pesquisa-form {
        width: 80%!important;
    }

    #menuDestaques {
        display: none;
    }

    .container-posts {
        padding-right: 15px;
    }

    #listPosts {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .dados {
        margin-top: 100px;
    }

    .post.card {
        padding: 0px!important;
    }

    .container-news {
        padding-left: 0px;
        padding-right: 0px;
    }

    .post.card-sobre {
        width: 100%!important;
        float: none;
    }

    .post.card-categoria {
        width: 100%!important;
        float: none;
    }

    .post.card-tags {
        width: 100%!important;
        float: none;
    }

    .populars {
        padding-right: 15px;
    }

    .brand-footer img {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    span.badge.badge-light {
        float: none!important;
        margin-top: 20px;
    }

    .card-comentario .user-image {
        width: 30px;
        height: 30px;
    }

    .comentario-content {
        margin-left: 10px;
    }

    .container-texto-comentario {
        padding-left: 10px;
    }

}
